<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Book Store</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-button  matTooltip="Bookstore is an appication to manage books."  >About</button>
    <button mat-button matTooltip="Contact us @bookstore.nl.com" >Contact</button>
    <button mat-icon-button >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
