<form [formGroup]="bookForm" id="bookForm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Book Details</mat-card-title>
        </mat-card-header>
        <mat-card-content class="book-card">

            <div class="book-container">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" placeholder="Title" />
                    <mat-error *ngIf="bookForm.get('title')?.hasError('required')">
                      Title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Author</mat-label>
                    <input matInput formControlName="author" placeholder="Author" />
                    <mat-error *ngIf="bookForm.get('author')?.hasError('required')">
                      Author is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


            </div>


            <div class="book-container">

                <mat-form-field>
                    <mat-label>Genre</mat-label>
                    <input matInput formControlName="genre" placeholder="Genre" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date of Publication</mat-label>
                    <input matInput formControlName="dateOfPublication" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>


            <div class="book-container">
                <mat-form-field>
                    <mat-label>Language</mat-label>
                    <input matInput formControlName="language" placeholder="Language" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country" placeholder="Country" />
                </mat-form-field>

            </div>

            <div class="book-container">
                <mat-form-field>
                    <mat-label>Media Type</mat-label>
                    <input matInput formControlName="mediaType" placeholder="Media Type" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Publisher</mat-label>
                    <input matInput formControlName="publisher" placeholder="Publisher" />
                </mat-form-field>
            </div>
            <div class="book-container">
                <mat-form-field>
                    <mat-label>Sold</mat-label>
                    <input readonly matInput formControlName="sold" placeholder="Sold" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Rating</mat-label>
                    <input matInput formControlName="rating" placeholder="Rating" />
                </mat-form-field>

            </div>

            <div class="book-container">
                <mat-form-field id="textarea">
                    <mat-label>Description</mat-label>
                    <textarea readonly matInput formControlName="description" placeholder="Description"></textarea>
                    <mat-error *ngIf="bookForm.get('description')?.hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
                </mat-form-field>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button (click)="onEdit()" mat-raised-button  color="primary">Edit</button>
            <button (click)="onBack()" mat-raised-button color="primary">Go Back To List</button>
        </mat-card-actions>
    </mat-card>
</form>